{
  "mole": {
    "type": "ollama",
    "name": "mole",
    "options": {
      "base_url": "http://127.0.0.1:11434",
      "api_key": "ollama"
    },
    "models": {
      "mistral:latest": {
        "name": "mistral:latest"
      },
      "qwen3:32b": {
        "name": "qwen3:32b"
      }
    }
  },
  "chati": {
    "type": "ollama",
    "name": "chati",
    "options": {
      "base_url": "http://your-ollama-server:11434",
      "api_key": "ollama"
    },
    "models": {
      "mistral:latest": {
        "name": "mistral:latest"
      },
      "qwen3.5:122b": {
        "name": "qwen3.5:122b"
      }
    }
  }
}
